<app-background-image-card
  [backgroundSrc]="
    'https://images.unsplash.com/photo-1517836357463-d25dfeac3438?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80'
  "
>
  <app-background-image-card-header
    icon="fitness_center"
    title="Your Fitness"
  />
</app-background-image-card>

<div class="fitness-page-body">
  <div class="stats-summary">
    <app-label-card
      title="Your AVG calories"
      [value]="(avgLabel$ | async)!"
      iconName="menu_book"
    ></app-label-card>

    <app-label-card title="Your recent calories" ></app-label-card>
  </div>
  <div class="app-line-chart">
    <app-line-chart
      [isDark$]="isDark$"
      [data]="caloriesData$ | async"
      title="Your calories"
      [avg]="avg$ | async"
    ></app-line-chart>
  </div>

  <div class="form">
    <app-fitness-form></app-fitness-form>
  </div>
</div>
