<mat-card class="form-card">
  <mat-card-header>
    <div class="icon-logo" mat-card-avatar>
        <img src="assets/icons/app-logo.svg" alt="the logo" >
    </div>
    <mat-card-title> Subscribe to Materialize </mat-card-title>
    <mat-card-subtitle>
      You will have a lot of fun learning angular!
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <form class="form">
        <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Your Email...">
          </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput placeholder="Your Password...">
          </mat-form-field>
    </form>
</mat-card-content>
<mat-card-actions>
    <button  mat-raised-button color="primary">SUBSCRIBE</button>
  </mat-card-actions>
</mat-card>
