<div class="dashboard-menu dashboard-menu-background">
  <div class="title">
    <mat-card class="dashboard-menu-header-background">
      <mat-card-header>
        <img
          mat-card-avatar
          src="assets/icons/home-two-logo.svg"
          alt="the logo"
        />
        <mat-card-title>Material dashboard</mat-card-title>
        <mat-card-subtitle>The new home is here</mat-card-subtitle>
      </mat-card-header>
    </mat-card>
  </div>
  <mat-divider></mat-divider>
  <div class="profile">
    <mat-card-header>
      <img
        mat-card-avatar
        src="assets/images/profile-picture.jpg"
        alt="the logo"
      />
      <mat-card-title>Alexa Amazon</mat-card-title>
      <mat-card-subtitle>Your personal profile</mat-card-subtitle>
    </mat-card-header>
  </div>
  <mat-divider> </mat-divider>
  <div class="main-section">
    <div class="list-container">
        <h2 class="title">Dashboard</h2>
        <app-dashboard-menu-links-panel></app-dashboard-menu-links-panel>
    </div>
    <mat-divider> </mat-divider>
    <div class="list-container">
        <h2 class="title">demo</h2>
        <app-dashboard-menu-links-panel></app-dashboard-menu-links-panel>
    </div>
  </div>
</div>
