.dashboard-search-container{
    display: flex;
    gap: 50px;
    align-items: center;
    padding:10px;
    padding-right: 40px;
}

.icons{
    display: flex;
    align-items: center;
    gap:20px;
}