<div class="main-container">
  <section class="title-area">
    <h1 class="title">Materialize</h1>
    <p class="subtitle">The future is here</p>
  </section>
  <div class="grid-container">
    <app-subscribe-form></app-subscribe-form>

    <section class="cards">
      <app-gradient-card gradientClass="gradient-1"></app-gradient-card>
      <app-gradient-card gradientClass="gradient-2"></app-gradient-card>
      <app-gradient-card gradientClass="gradient-1"></app-gradient-card>
      <app-gradient-card gradientClass="gradient-2"></app-gradient-card>
    </section>
  </div>
</div>
