.main-content{
    min-height: 100vh;
}

.list-item-title{
    display: block;
    min-width: 20ch;
    color: white;
    font-weight: 500;
    text-transform: capitalize;
}

.navbar-meta-button{
    outline: unset;
    background-color: transparent;
    border: none;
}

.main-container{
    min-height: 100vh;
    padding: 1rem;
}
