.main{
    width: 100%;
}

.content{
    max-width: 1000px;
    margin: auto;
    padding-top: 4rem;
    display: grid;
    grid-template-columns: 1fr;
    gap:20px;

    @media screen and (min-width:600px) {
        grid-template-columns: 1fr 1fr;
    }
    
}