<mat-accordion displayMode="flat" class="mat-elevation-z0">
  <mat-expansion-panel
    class="mat-elevation-z0 accordion-panel-item"
    *ngFor="let panel of dashboardPanels"
  >
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon class="menu-list-icon">{{ panel.icon }}</mat-icon
        >{{ panel.title }}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-list role="list">
      <a
        class="link"
        mat-list-item
        [routerLink]="item.routerLink"
        routerLinkActive="active"
        role="listitem"
        *ngFor="let item of panel.links"
        ><span class="content">
          {{ item.label }}
        </span>
      </a>
    </mat-list>
  </mat-expansion-panel>
</mat-accordion>
